<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Game</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="css/dependencies.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="scripts/dependecies.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	"use strict";
	var game_id = /*[[${game_id}]]*/'ERROR';
	var current_game_state = /*[[${game==null?"":game.state.toString()}]]*/'ERROR';
	var game_size = /*[[${game==null?1:game.size}]]*/'ERROR';
	/*]]>*/
</script>
<script type="text/javascript" src="scripts/index.js"></script>
</head>
<body>
	<div class="index-container">
		<div th:if="${game != null}" class="game-container">
			<ul id="game-board" class="game" th:style="'width:' + ${game == null?10:game.size * 101} + 'px; height:' + ${game == null?10:game.size * 101} + 'px;'">
				<li class="game-cell" th:each="number : ${game == null?empty:game.position}">
					<div th:id="${'num_' + number}" class="game-cell-number" th:utext="${number > 0?number:''}"></div>
				</li>
			</ul>
		</div>
		<div class="menu-container">
			<button id="lobby-button">To Lobby</button>
		</div>
	</div>
</body>
</html>