<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Lobby</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="css/dependencies.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="scripts/dependecies.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	"use strict";
	var current_game_state = /*[[${game.state}]]*/'ERROR';
	/*]]>*/
</script>
<script type="text/javascript" src="scripts/lobby.js"></script>
</head>
<body>
	
</body>
</html>