<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Lobby</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="css/dependencies.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="scripts/dependecies.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	"use strict";
	var game_id = /*[[${game_id}]]*/'ERROR';
	var current_game_state = /*[[${game.state}]]*/'ERROR';
	var game_size = /*[[${game.size}]]*/'ERROR';
	current_game_state = current_game_state.$name;
	/*]]>*/
</script>
<script type="text/javascript" src="scripts/lobby.js"></script>
</head>
<body>
	<div class="lobby-container">
		<div class="lobby">
			<div class="lobby-sizes-container">
				<form action="#">
  					<fieldset>
    					<label for="sizes">Select game size:</label>
    					<select name="sizes" id="sizes">
    						<option th:id="@{size_} + ${size}" th:each="size : ${sizes}" th:utext="${size} + @{X} + ${size}"></option>
    					</select>
 					</fieldset>
				</form>
			</div>
			<div class="lobby-start-container">
				<button id="start-game-button">Start!</button>
			</div>
		</div>
	</div>
</body>
</html>